<h1><%= @event.title %></h1>

<p>開催日：<%= @event.held_on %></p>
<p>主催：<%= @event.organizer_name %></p>
<p>対象：<%= @event.target_department %></p>

<hr>

<p><%= simple_format(@event.description) %></p>

<p><%= link_to "一覧に戻る", events_path %></p>
