<%= form_with model: [:admin, @event], local: true do |f| %>
  <% if @event.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title, "イベント名" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :held_on, "開催日" %><br>
    <%= f.date_field :held_on %>
  </div>

  <div>
    <%= f.label :organizer_name, "主催者名" %><br>
    <%= f.text_field :organizer_name %>
  </div>

  <div>
    <%= f.label :target_department, "対象部署" %><br>
    <%= f.text_field :target_department %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
