<h1><%= @event.name %></h1>

<p>開催日：<%= @event.held_on %></p>
<p>主催：<%= @event.organizer %></p>
<p>対象：<%= @event.target %></p>
<p><%= simple_format(@event.description) %></p>

<p>
  <%= link_to "編集", edit_admin_event_path(@event) %> |
  <%= link_to "一覧へ戻る", admin_events_path %>
</p>
